<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You vs AI DEMO</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <p>Предлагаем посоревноваться с искусственным интеллектом в определении признаков туберкулеза легких на
            рентгенограммах грудной клетки. Подробнее о том, зачем и как, можно прочитать в статье.</p>
        <p>Чтобы сохранить результат, введите любую последовательность символов. Если Вы не против получать новости о
            новых сервисах, введите в поле адрес своей электронной почты.</p>
        <form class="form-vertical" id="id_form" action="/uvsai/0" method="post">

            <div class="form-group">
                <label for="id_input">Name:</label>
                <input type="text" class="form-control" id="id_input">
            </div>

            <div class="form-group">
               <button type="submit" class="btn btn-default">Submit</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
</body>
</html>